body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 40px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 20px;
}
.forum-menu{
    font-size: 13px;
    color: #999999;
}
.jumbotron{
    margin: 70px;
}
.isLoginComment{
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 50px;
}
.comment{
    margin-top: 15px;
    margin-bottom: 15px;
}
.login{
    margin-top: 100px;
    margin-left: 250px;
    width: 700px;
}
.comment_hr{
    margin-top: 0px;
}
.menu{
    color: #999;
}
.menu .ico{
    margin-right: 6px;
    font-size: 15px;
}

